<form method="get" action="/quizes/answer">

  Pregunta: <%- pregunta %><p>

  <% if(tip === "corta"){ %>
    <input type="text" name="respuesta" value="Responda aquí" />
  <% } %>

  <% if(tip === "larga"){ %>
    <textarea name="respuesta" placeholder="Responda aquí" rows="4" cols="50"></textarea>
  <% } %>

  <br>

  <input type="submit" value="Enviar" />

</form>
